
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&family=Ubuntu&display=swap');


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: larger;
  font-family: Ubuntu, serif;
  font-weight: bold;
  background-color: black;
  color: floralwhite;
}

h1{
  margin:0;
  padding: 15px;
  background-color: rebeccapurple;
  border-radius: 0 0 5px 5px;
  color: floralwhite;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 550px;
  height: 550px;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  border: 25px solid rgb(39, 39, 39);
}

.settings{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 15px;
}

.gridsize{
  margin-top: 0;
  font-size: smaller;
}

button{
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: rebeccapurple;
  border-radius: 10px;
  padding: 8px 10px;
  border: none;
  transition: transform 0.25s ease;
}

button:hover{
  cursor: pointer;
}

.active{
  cursor: pointer;
  transform: scale(0.9);
  opacity: 0.7;
  background-color: rebeccapurple;
}

footer{
  background-color: rgb(102, 51, 153, 0.3);
  padding: 1px;
  font-size: medium;
  font-weight: 500;
}

.fa-github{
  font-size: x-large;
  color: gray;
  transition: all 0.3s ease-in-out;
}

.fa-github:hover{
  transform: scale(1.2) rotate(360deg);
}

.innerdiv{
  border: 1px solid grey;
  margin:0; 
  padding: 0; 
  box-sizing: border-box;
} 

